<ion-view title="Diary">
	<ion-content scroll="true">

		<div class="list card card-diary diary {{profileClasses}}">

			<div class="item item-divider item-header ribbon">
				<strong class="ribbon-content">{{ 'DIARY_TITLE' | translate }}</strong>
			</div>

			<div class="item item-avatar">
				<img ng-src="{{avatarImg}}">
				<h3>{{diaryDate}}</h3>
				<h2><small>{{ 'DIARY_OF' | translate }}</small> <div ng-if="profiled">{{nickname}}</div><div ng-if="!profiled">{{ 'GUEST' | translate }}</div></h2>
			</div>

			<div class="item item-body">

				<div ng-repeat="sentence in diary">
					<p>
						{{ (sentence + surveyProfileSuffix) | translate }}
					</p>
					<span class="clip" ng-if="($index + 1) % 2 == 0">
						<img class="full-image" ng-src="{{ images[ ( ($index / 2) | number:0 ) - 1 ] }}">
					</span>
				</div>

			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<button class="button button-clear tab-item" ng-click="publishDiary()" ng-disabled="(comuneProgress == 0 || sendLocked)">
					<i class="icon ion-share"></i>
					{{ 'PUBLISH' | translate }}
				</button>
				<button class="button button-clear tab-item" ng-click="shareDiary()" ng-disabled="(comuneProgress == 0)">
					<i class="icon ion-share"></i>
					{{ 'SHARE' | translate }}
				</button>
			</div>

		</div>

	</ion-content>
</ion-view>
